# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# Streamlit cache
.streamlit/secrets.toml

# Logs
*.log

# Private Notes
.variable-mapping.md
.variable-mapping.pdf
